.wrapper {
  max-width: 600px;
}

.container {
  margin-top: 40px;
  padding-right: 8px;
  padding-left: 16px;
  overflow-y: auto;
  max-height: 664px;
  max-height: calc(100vh - 302px);
  direction: ltr;
  scrollbar-color: var(--background-element) var(--text-inactive-color);
  scrollbar-width: 8px;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background-color: var(--background-element);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}
