.container {
  margin: 40px auto 0;
  max-width: 1248px;
}

.mainWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.orderList {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-y: auto;
  box-sizing: border-box;
  width: 584px;
  max-height: calc(100vh - 185px);
  flex-direction: column;
  list-style: none;
  gap: 16px;
  direction: ltr;
  scrollbar-color: var(--background-element) var(--text-inactive-color);
  scrollbar-width: 8px;
}

.orderList::-webkit-scrollbar {
  width: 8px;
}

.orderList::-webkit-scrollbar-track {
  background-color: var(--background-element);
}

.orderList::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.card {
  padding: 24px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
  background-color: var(--background);
  border-radius: 40px;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientsList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.ingredientsItem {
  position: relative;
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.ingredientsImg {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #801ab3, #4c4cff) border-box;
  border: 3px solid transparent;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.counter {
  position: absolute;
  top: 3px;
  left: 3px;
  display: flex;
  width: 58px;
  height: 58px;
  justify-content: center;
  align-items: center;
}

.counter::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  content: '';
  background-color: black;
  border-radius: 100%;
}

.counterText {
  z-index: 2;
}

.price {
  margin-left: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
