.container {
  margin-top: 20px;
  max-width: 720px;
}

.status {
  margin-top: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: 312px;
  direction: ltr;
  scrollbar-color: var(--background-element) var(--text-inactive-color);
  scrollbar-width: 8px;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: var(--background-element);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.image {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #801ab3, #4c4cff) border-box;
  border: 3px solid transparent;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.name {
  flex-shrink: 0;
  flex-grow: 1;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
