.container {
  padding-left: 16px;
  padding-bottom: 52px;
  width: 600px;
  border: 1px solid transparent;
  border-radius: 50px;
}

.containerHover {
  border-color: aquamarine;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  gap: 16px;
}

.wrapper {
  padding-right: 8px;
  display: flex;
  overflow-y: auto;
  max-height: 464px;
  flex-direction: column;
  direction: ltr;
  gap: 16px;
  scrollbar-color: var(--background-element) var(--text-inactive-color);
  scrollbar-width: 8px;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: var(--background-element);
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 8px;
}

.margin {
  margin-left: 32px;
  display: flex;
  width: 536px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.order {
  margin-top: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}
